.class1{
font-style: italic;
font-size: 30px;
 color: red;

}

.class2{ 
font-style: oblique;
font-variant: small-caps;
 color: blue;
}

.class3{
font-style:  normal;
 font-weight: bold;
font-size: 14px;
 color: lightgreen;
}
